.card-widget {
    width: 100%;
    margin-bottom: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5%;
    border-radius: 10px;
    gap: 1vh;
    background: rgba(0, 0, 0, 0.2); /* 黑色半透明 */
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}