@import url("./animation.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    scroll-behavior: smooth;
}

.container {
    width: 100vw !important;
    max-width: 100vw !important;
    padding: 0 !important;
    margin: 0 !important;
}

::-webkit-scrollbar {
    width: 5px;       /* 垂直滚动条的宽度 */
    height: 5px;      /* 水平滚动条的高度 */
}

/* 滚动条轨道（背景） */
::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 4px;
}

/* 滚动条上的滑块 */
::-webkit-scrollbar-thumb {
    background: #3d82de;
    border-radius: 4px;
}

/* 滑块悬停效果 */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

p {
    user-select: text;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    background-image: url("../assets/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.head {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/city-girl.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    user-select: none;
}

.head-overray {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}

.navbar {
    position: fixed !important;
    top: -20%;
    left: 0 !important;
    z-index: 1000 !important;
    width: 100vw;
    /* background-color: rgba(255, 255, 255, 0.6);  */
    background-color: transparent;
    transition: top 0.8s ease, background-color 1.5s ease; /* 添加背景色过渡 */
}

.nav-begin {
    top: 0 !important;
}

.nav-appear {
    top: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

.nav-transparent {
    background-color: transparent !important; /* 背景色透明 */
}

.nav-hidden {
    top: -20%;
}

.nav-icon{
    width: 2.2vw;
}

.nav-title {
    display: inline-block;
    margin-left: 5%;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    font-weight: bold;
}

.head-text {
    z-index: 1;
    position: relative;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
}

.head-text > .title {
    font-size: 3vw;
    animation: growText 1s ease-out;
}

.head-text > .title span {
    background: linear-gradient(90deg, #999, #fff, #a7d314, #41d930, #0490e7, #d404e7);
    background-size: 400% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat', 'Helvetica Neue', 'Segoe UI', sans-serif;
    font-weight: 600;

    animation: shine 2s linear infinite;
}

.head-text > .subtitle {
    color: white;
    font-size: 2vw;
}

.typing-char {
    display: inline-block;
    opacity: 0;
    transform: translateY(10px);
    animation: typingBounce 0.3s forwards;
}

.typing-cursor {
    display: inline-block;
    margin-left: 2px;
    width: 1ch;
    color: white;
    animation: blinkCursor 1s steps(2, start) infinite;
}

.head > .float-arrow {
    animation: floatArrow 1s ease-in-out infinite;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    width: 100%;
}

.content {
    width: 100vw;
    min-height: 100vh;
    /* background-image: url("../assets/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    z-index: 2;
    position: relative;
    animation: fadeIn 2s ease-in;
    padding: 2% 15% 0 15%;
    display: flex;
    justify-content: space-between;
    gap: 1%;
}

.content-posts {
    flex: 3;
    /* overflow-y: auto; */
}

.content-aside {
    flex: 1;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%; */
    text-align: center;
    user-select: none;
}

.content-aside-bloginfo > img {
    width: 40%;
    border-radius: 50%;
    margin-top: 10%;
    animation: spin 5s linear infinite;
}

.content-aside-bloginfo > p {
    font-size: 1.5vw;
    color: #4C4948;
    user-select: none;
}

.content-aside-bloginfo > a {
    width: 80%;
    text-decoration: none;
    background-color: #49B1F5;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.content-aside-bloginfo > a:hover {
    background-color: #FF7242;
}

.content-aside-bloginfo > a:hover > .github {
    animation: spin 0.4s;
}

.blog-data {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.blog-data-el {
    cursor: pointer;
    transition: color 0.3s;
}

.blog-data-el:hover {
    color: aqua;
}

.content-aside-link {
    display: flex;
    justify-content: center;
    gap: 20%;
    margin: 2% 0;
}

.content-aside-link > a{
    text-decoration: none;
    color: unset;
}

.mail, .dc, .github {
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    bottom: 5%; 
}

.mail:hover, .dc:hover, .github:hover {
    animation: spin 0.4s;
}

.content-aside-announce > p {
    text-align: left;
    margin: 0 5%;
}

.content-aside-newest-essay > ul {
    list-style: none;
    position: relative; 
    padding: 0;
    margin: 0;
}

.content-aside-newest-essay > ul::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    width: 2px;
    background: #ccc;
}

.content-aside-newest-essay > ul li {
    position: relative;
    padding-left: 30px;     /* 给圆点和竖线留空间 */
    margin-bottom: 20px;    /* 项目间距 */
}

.content-aside-newest-essay > ul li::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 12px;
    height: 12px;
    background: white;
    border: 2px solid #007bff;
    border-radius: 50%;
    z-index: 1;
}

.content-aside-newest-essay > ul li > .title {
    font-size: 1vw;
    text-align: left;
    text-decoration: none;
    color: unset;
    transition: color 0.3s;
}

.content-aside-newest-essay > ul li > .title:hover {
    color: aqua;
}

.content-aside-newest-essay > ul li > .time {
    font-size: small;
    text-align: left;
    color: #908585;
}

.md-content {
    border-radius: 10px;
    display: flex;
    gap: 1rem;
    padding: 0 2%;
    background-color: rgba(255, 255, 255, 1);
}



.footer {
    width: 100%;
    height: 5vh;
    text-align: center;
    color: #ECEEEE;
    font-size: small;
    margin-top: 2%;
}
