@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes colorFade {
  from {
    color: rgb(4, 232, 194);
  }
  to {
    color: #bbd819;
  }
}

@keyframes shine {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}